.add-property {
    padding: 50px;
}

.add-property-form {
    border: solid 1px black;
    padding: 20px 40px 20px 40px;
    margin-top: 20px;
}

.add-property-label {
    padding-right: 50px;
    margin-bottom: 10px;
}

.add-property-button {
    font-family: 'IBM Plex Serif', serif;
    border: solid 1px black;
    border-radius: 3px;
    padding: 4px 8px 4px 8px;
}
.add-property-button:hover {
    background-color: rgb(10, 135, 127);
    color: white;
    font-weight: bold;
}

input, select {
    margin-left: 14px;
}