.property-card, .property-card_email {
    text-align: center;
}

.property-card {
    padding: 15px 0px 15px 0px;
    background-color: lightgray;
    color: rgb(10, 135, 127);
    margin: 8px 0px 8px 0px;
}

.property-card_email {
    padding: 5px 0px 5px 0px;
    background-color: rgb(10, 135, 127);
    color: lightgray;
    margin-top: 15px;
}

.property-card_email > a  {
    color: lightgray;
    font-weight: bold;
    text-decoration: none;
    padding-left: 5px;
}

.property-card_email > a:hover  {
    color: white;
}