.sidebar {
    margin: 0px 20px 0px 20px;
    border: solid 1px black;
    background-color: white;
}

.sidebar-title {
    padding: 5px;
    font-size: 17px;
    font-weight: bold;
}

.sidebar-list {
    list-style-type: none;
    margin: 0px 0px 8px 0px;
}

.sidebar-list_city > a, .sidebar-list_price > a {
    color: black;
    text-decoration: none;
    padding: 2px 100px 2px 10px;
}

.sidebar-list_city > a:hover, .sidebar-list_price > a:hover {
    color: white;
    background-color: rgb(10, 135, 127);
    font-weight: bold;
}